<mat-toolbar color="black">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->

    <mat-icon> terrain</mat-icon> &nbsp; Hestia Real Estate

    <span class="example-spacer"></span>
    <button mat-button matTooltip="Back to home page."
        aria-label="Button that displays a tooltip when focused or hovered over" routerLink="/home">
        <mat-icon> home</mat-icon>
        Home
    </button>

    <button mat-button  matTooltip="Shopping cart page"
    aria-label="Button that displays a tooltip when focused or hovered over" routerLink="/shopping-cart">
        <mat-icon matBadge="{{numberOfItems}}" matBadgeColor="warn">shopping_cart</mat-icon>
        <!-- <mat-icon matBadgeColor="warn">shopping_cart</mat-icon> -->
        <span class="cdk-visually-hidden">
            Display the items from the shopping cart.
        </span>
        &nbsp;&nbsp; Cart
    </button>
    <button mat-button routerLink="/contact-feedback">
        <mat-icon>feedback</mat-icon>
        Contact&Feedback
    </button>
    <!-- <button mat-raised-button
    matTooltip="Info about the action"
    aria-label="Button that displays a tooltip when focused or hovered over">
  Action
  </button> -->
</mat-toolbar>