<div class="container">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. test@yahoo.com" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. test" value="">
        </mat-form-field>
    </form>

    <button mat-flat-button color="primary">Login</button>
</div>