<div class="container">
    <mat-card style="background-color: rgb(0, 0, 0);">
        <mat-card-title style="color:aliceblue">Login information</mat-card-title>
    </mat-card>
    <br>
    <br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" formControlName="email" name="email" [(ngModel)] = "email">
            <mat-error *ngIf="registerForm.value.email">Email syntax is not correct.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)] ="password" formControlName="password" name="password" type="password" [type]="hide ? 'password' : 'text'" [(ngModel)] = "password">
            <mat-error *ngIf="registerForm.value.password">Password must be a combination of lower-case, upper-case,
                numbers and at least 15 characters long</mat-error>

            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <button mat-flat-button  type="submit" [disabled]="!registerForm.valid" (click)="onLogin()" routerLink="/home">Login<mat-icon>chevron_right</mat-icon></button>
    </form>
    
</div>