<app-navbar></app-navbar>

<div class="main-div">
    <mat-card style="text-align: center">
        <mat-card-title>CART VALUE </mat-card-title>
        <br>
        <mat-card-subtitle style="color:black;">Price: <b>${{ itemsValue.toLocaleString() }}</b></mat-card-subtitle>
        <mat-card-actions>
            <button mat-button mat-raised-button color="accent" matTooltip="Pay for your shopping cart items." 
            aria-label="Button that displays a tooltip when focused or hovered over">CHECKOUT</button>
        </mat-card-actions>
    </mat-card>
</div>

<mat-card class="example-card" *ngFor="let item of items">
    <div style="text-align:center;">
        <mat-card-title style="text-align: center">{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.state}}</mat-card-subtitle>
        <mat-card-subtitle style="color:black;">Price: <b>${{item.price}}</b></mat-card-subtitle>
    </div>

    <img mat-card-image src="{{item.imageSource}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            &nbsp;&nbsp; {{item.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>
            <mat-icon>star_half</mat-icon>
        </button>
        <button mat-button mat-button matTooltip="Removes product from shopping-cart"
            aria-label="Button that displays a tooltip that has custom delays through a default config"
            style="margin-left: 67%;" (click) = "removeItemShoppingCart(item)" (click) = "openSnackBar()">
            <mat-icon>delete</mat-icon>
        </button>

    </mat-card-actions>
</mat-card>
