<!-- <button mat-flat-button style="margin-left:70% ;margin-top:25%; color:black" routerLink="/login">Login</button> -->

<div class="slider">
    <div class="wrapper">
        <img src="assets/images/house1.jpg">
        <img src="assets/images/house2.jpg">
        <img src="assets/images/house3.jpg">
        <img src="assets/images/house4.jpg">
    </div>
</div>

<div class="container">
    <div class="item">
        <p>
            <b style="color:black;margin-left:20% ; font-size:37px">
                {{title}} 
                </b>
               <br><br>
                <b style="color:black;margin-left:20% ; font-size:37px">
                {{subtitle}}
              </b>
            
        </p>
         <br><br>
        <p style="color:black;margin-left:20%;font-size:16px">
            <b>
                Hestia Real Estate is a worldwide company<br>
                 that provides a very large number of mansions, houses, apartments, villas<br>
                 and residentials for renting and buying. Be part of our world and find a suitable home for yourself.
                 <br> Log in for more!
            </b>
             
        </p>
         
        <br><br>
      <button mat-flat-button style="margin-left:20%" routerLink="/login">Login</button>
    </div>
</div>
