<app-navbar>

</app-navbar>
<div *ngFor="let product of products">
    <mat-card class="product">
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-content>
            {{product.description}}
        </mat-card-content>
        <mat-card-content>
            {{product.price}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>ADD</button>
        </mat-card-actions>
    </mat-card>
</div>
<mat-card class="product">
    <button mat-icon-button routerLink="add-product"><mat-icon class="mat-icon">add</mat-icon></button>
  </mat-card>
  