<!-- <br><br><br>
<b style="color:black;margin-left:45% ; font-size:32.5px" [style.color]="color">
  {{title}}

</b> -->

<br><br>

<div style="margin-left:42%;"> 
  <div id="two">
    <b style="color:black;font-size:37px">
      <p><mat-icon style="transform: scale(1.5)"> terrain </mat-icon> Hestia Real Estate</p>
    </b>
    <div class="box" style="font-size:37px">
      <ul>
        <b>
          <li class="item-1">Design</li>
          <li class="item-2">Home</li>
          <li class="item-3">Family</li>
          <li class="item-4">Dream</li>
          <li class="item-5">Luxury</li>
        </b>
      </ul>
    </div>
  </div>
</div>
<br>
<div>
  <b style="margin-left:41%;font-size:18px">
    Been there. Done that. Sold this. Bought that.</b>
</div>
<div style="margin-left:21%;margin-top:5% ;font-size:18px"><b>
    At least once in their lives, everyone has thought about what their dream house would look like,
    where it is located and what a pleasure it would be to live in it. </b></div>
<div style="margin-left:43%;font-size:18px"><b>
    <br>Hestia Real Estate is here to help. </b></div>
<div style="margin-left:28%;font-size:18px"><b>
    <br>Our company has the power to bring all the sketches and plans you had about your dream house to reality.
  </b>
</div>

<div>
  <div class="imagewrap" style="margin-left:5.5%;margin-top:5%">
    <div class="thumbnail">
      <img src="assets/images/home-house1.jpg" style="display:inline-block;border-radius: 20px;">
    </div>
    <input type="button" class="button1 ig-btn" style="font-size: 11px;" routerLink="/buy" value="Buy">
  </div>

  <div style="display:inline-block;margin-left:16%;margin-bottom:9%">
    <p><b>Decide whether you want to buy or just rent a residence.</b></p>
  </div>
  <div style="display:inline-block;margin-left:-22%;margin-bottom:7%">
    <p> <br><b>&#8592; Select the right option for you and start exploring the alternatives we put up. &#8594;</b></p>
  </div>
  <div style="display:inline-block;margin-left:-21%;margin-bottom:5%">
    <p><br><b>Exceptional Properties. Exceptional Clients.</b></p>
  </div>

  <div class="imagewrap" style="margin-left:20%;margin-top:5%">
    <div class="thumbnail">
      <img src="assets/images/home-house2.jpg" style="display:inline-block;  border-radius: 20px;">
    </div>
    <input type="button" class="button1 ig-btn" routerLink="/rent" style="font-size: 11px;" value="Rent">
  </div>
</div>
<br>
<div style="margin-left:16%;font-size:18px;margin-bottom:1%"><b>
    For any further questions please contact us. If your experience with us was a pleasant one or our site needs
    improve,
    please complete the feedback formular below. Thank you! </b><br><br>
</div>

<button mat-flat-button style="margin-left:45%;margin-bottom:3%;color:rgb(0, 0, 0)"
  routerLink="/contact-feedback">Contact & Feedback<mat-icon>chevron_right</mat-icon></button>
<!-- <h2>
  {{name}}<br>
 {{name |uppercase}}<br>
 {{name|lowercase}}<br>
 {{name|slice:3}}<br>
 {{5.323|number:'1.2-3'}}<br>
 {{5.323|number:'1.6'}}<br>
 {{5.323|currency}}<br>
 {{5.323|currency: 'EUR'}}<br>
 {{0.753|percent}}<br>
 {{person|json}}<br>
{{date}}<br>
{{date|date:'short'}}<br>
{{date|date:'shortTime'}}<br>
{{ date | date:'hh:mm:ss' }}<br>  
</h2> -->