
<app-navbar></app-navbar>

  <br><br><br>
<b style="color:black;margin-left:45% ; font-size:32.5px" [style.color]="color">
  {{title}}

</b>

<!-- <h2>
  {{name}}<br>
 {{name |uppercase}}<br>
 {{name|lowercase}}<br>
 {{name|slice:3}}<br>
 {{5.323|number:'1.2-3'}}<br>
 {{5.323|number:'1.6'}}<br>
 {{5.323|currency}}<br>
 {{5.323|currency: 'EUR'}}<br>
 {{0.753|percent}}<br>
 {{person|json}}<br>
{{date}}<br>
{{date|date:'short'}}<br>
{{date|date:'shortTime'}}<br>
{{ date | date:'hh:mm:ss' }}<br>  
</h2> -->