.example-card {
    max-width: 350px;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 50px;
    margin-left: 4%;
    margin-top: 2%;
    display: inline-block !important
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.product {
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
}

.card-title {
    flex-shrink: 0;
}

.card-content {
    flex-grow: 1;
    overflow: auto;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.add-prod-card {
    width: 200px;
    height: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin: 20px 10px 20px 10px;
    flex-direction: column;
}

.mat-icon {
    align-items: center;
}

.mat-form-field {
    margin-right: 8px;
}



/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
/* End extract */
.w3-btn,
.w3-button{border:none;display:inline-block;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-modal{z-index:3;display:none;padding-top:400px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-display-topright{position:absolute;right:0;top:0}
