.example-card {
    max-width: 350px;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 50px;
    margin-left: 4%;
    margin-top: 2%;
    display: inline-block !important
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.product {
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
}

.card-title {
    flex-shrink: 0;
}

.card-content {
    flex-grow: 1;
    overflow: auto;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.add-prod-card {
    width: 200px;
    height: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin: 20px 10px 20px 10px;
    flex-direction: column;
}

.mat-icon {
    align-items: center;
}

.mat-form-field {
    margin-right: 8px;
}


html {
    font-family: "Abel", sans-serif;
    color: #FFF;
  }
  
  #wrapper {
    height:0vh;
  }
  
  #overlay {
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: 1s;
  }
  
  #info {
    position: fixed;
    top: 20%;
    left: 50%;
    background: rgba(99, 99, 99, .9);
    /*    box-shadow: 10px 10px 50px 20px #722f37;*/
    
    width: 90%;
    max-width: 400px;
    padding: 40px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 1s;
    z-index: 99;
    box-shadow: 20px 20px 0 -5px rgba(68, 68, 68, .9);
    
    transform: translate(-50%, -50%);
  }
  
  
  #info button:hover {
    color: #999;
  }
  
  #info label#close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    margin: 15px;
    font-size: 1.6em;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"][id="open"]:checked ~ #overlay {
    opacity: .8;
    z-index: 98;
  }
  
  input[type="radio"][id="open"]:checked ~ #info {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  label {
    color: #FFF;
  }
  
  label:hover {
    Color: #999;
    cursor: pointer;
  }
  
  #button {
    position: absolute;
    bottom: -6%;
    right: 73%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 2em;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .5s;
  }
  
  #button:hover {
    color: #9df;
  }